@use "../variables.scss" as *;
@use "../animations.scss" as *;

.hero-stats {
    width: 100%;
    margin-top: 80px;
    opacity: 0;
    transition: opacity .6s;

    &.visible { opacity: 1;  }
    .hero-stats-grid { 
        display:grid;
        grid-template-columns: repeat(3,minmax(240px,1fr));
        column-gap:48px;
        row-gap:24px;
        align-items:stretch;
     }
    .hero-stats-item {
        width:100%;
        display:flex;
        border-radius:26px;
        padding:1px;
        background: $gradient_subtitle_black;

        .hero-stats-item-iner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 110px;
            height: 100%;
            width:100%;
            padding: 5px 20px;
            border-radius:25px;
            background: linear-gradient( 180deg, rgba(255,255,255,.05), transparent 60% ), rgba(12,12,12,.92);
            backdrop-filter:blur(2px);
            position:relative;
            overflow:hidden;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 8%;
                right: 8%;
                height: 1px;
                background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.12), transparent);
                pointer-events: none;
            }
            .hero-stat-value {  
                font-size: 3rem; 
                font-weight: 700; 
                color: white; 
                line-height: 1; 
                min-height: 50px; 
            }
            .hero-stat-tech { 
                display: flex;              /* включаем flex */
                align-items: center;        /* вертикальное выравнивание */
                justify-content: center;    /* горизонтальное центрирование (если нужно) */
                gap: 10px;                   /* расстояние между иконкой и текстом */
                min-height: 50px;
                font-size: 1.8rem; 
                font-weight: 700; 
                color: white; 
                opacity: 0; 
                transform: translateY(20px); 
                transition: all .8s;  
                &.show { opacity: 1; transform: translateY(0); }
            }
            .hero-stat-label {
                font-size: .95rem;
                color: rgba(255,255,255,.6);
                opacity: 0;
                transform: translateY(12px);
                transition: all .8s;
                &.show { opacity: 1; transform: translateY(0); }
            }
        }
    }
}